body {
  overflow: hidden;
  height: 92vh;
  width: 98vw;
}
.envelop,
.top,
.left,
.right,
.bottom,
.back {
  aspect-ratio: 4/3;
  width: 400px;
  position: absolute;
}

.back {
  background-color: #ffb3c1;
  border-radius: 0% 0% 10% 10% / 0% 10% 10% 10%;
}
.left {
  border-radius: 0% 0% 10% 10% / 0% 10% 10% 10%;
  background-color: #ff8fa3;
  clip-path: polygon(0% 0%, 0% 100%, 90% 100%);
}
.right {
  border-radius: 0% 0% 10% 10% / 0% 10% 10% 10%;
  background-color: #ff8fa3;
  clip-path: polygon(10% 100%, 100% 100%, 100% 0%);
}
.bottom {
  border-radius: 0 10% 10% 10%;
  background-color: #ff758f;
  clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}
.top {
  z-index: 3;
  transform: translateY(-40%);
  background-color: #e2546e;
  clip-path: polygon(0% 40%, 50% 100%, 100% 40%);
  transition: 2s ease;
}

.card {
  /* z-index: 5; */
  transform: translateY(10%) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 25px;
  position: absolute;
  width: 350px;
  height: 200px;
  background-color: #161414;
  transition: 0.6s ease;
  animation: ani 7s linear;
  animation-delay: 1s;
  animation-timeline: scroll(root);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  transform: rotate(-45deg);
  height: 60px;
  aspect-ratio: 1/1;
  background-color: red;
  transition: 2s;
  filter: drop-shadow(0rem 0rem .15rem #3f3d3dd3);
}
.heart:before,
.heart:after {
  content: "";
  height: inherit;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
.heart:before {
  transform: translateY(-50%) rotate(-45deg);
}
.heart:after {
  transform: translateX(50%) rotate(-45deg);
}
